<div class="login-container">
  <div class="card">
    <a (click)="volverBienvenido()" class="volver" style="cursor: pointer;">← Volver</a>
    <h2 class="titulo">Iniciar Sesión</h2>
    <p class="subtitulo">Accede a tu cuenta</p>

    <form [formGroup]="form" (ngSubmit)="ingresar()">
      
      <label for="correo">Correo Electrónico</label>
      <input id="correo" type="email" formControlName="correo" placeholder="correo@ejemplo.com" />
      <div class="error" *ngIf="form.get('correo')?.touched && form.get('correo')?.invalid">
        <small *ngIf="form.get('correo')?.errors?.['required']">Este campo es obligatorio</small>
        <small *ngIf="form.get('correo')?.errors?.['email']">Formato de correo inválido</small>
      </div>

      <label for="contrasena">Contraseña</label>
      <input id="contrasena" type="password" formControlName="contrasena" placeholder="Tu contraseña" />
      <div class="error" *ngIf="form.get('contrasena')?.touched && form.get('contrasena')?.invalid">
        <small *ngIf="form.get('contrasena')?.errors?.['required']">Este campo es obligatorio</small>
        <small *ngIf="form.get('contrasena')?.errors?.['minlength']">Debe tener al menos 6 caracteres</small>
      </div>

      <button type="submit" class="btn-ingresar">Ingresar</button>
    </form>

    <div class="registro-info">
      <div class="separador">——— ¿Primera vez aquí? ———</div>
      <a (click)="crearCuenta()" style="cursor: pointer;">Puedes crear una cuenta nueva</a>
    </div>
  </div>
</div>