.inicio-container {
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  padding: 2rem;
  background-color: #f9f9f9;
  
}

.logo {
  width: 80px;
  margin-bottom: 0.5rem;
}

.contenedor {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  margin-top: 2rem;
}

.card {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.titulo {
  color: #ff6600;
  font-size: 2rem;
  margin: 0;
}

.subtitulo {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 2rem;
}

.bienvenida {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.descripcion {
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.botones .btn {
  margin: 0.5rem;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.btn.rojo {
  background-color: #d32f2f;
  
}

.btn.azul {
  background-color: #263238;
}

.etiquetas {
  margin-top: 1.5rem;
}

.tag {
  display: inline-block;
  margin: 0.3rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.9rem;
  color: white;
}

.tag.naranja {
  background-color: #f57c00;
}

.tag.rojo {
  background-color: #d32f2f;
}

.tag.naranja-claro {
  background-color: #ffa726;
}

footer {
  margin-top: 3rem;
  font-size: 0.8rem;
  color: #888;
}